<!DOCTYPE html>



<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../Content/heroic-features.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body onload="Generate()"  >
    
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="container">
        
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MTG Adventure Generation</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Page Content -->
<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer" style="background: transparent; border:transparent">
        <h1 style="color: #fff;">MTG Adventure Generation</h1>
        <p style="color: #fff">
            May your adventures be wonderful!


        </p>
        <p class="">
            <input type="button" onclick="Generate();" class="btn btn-primary btn-lg" value="Generate">
            <input type="button" onclick="SaveCards();" class="btn btn-primary btn-lg" value="Save">
        </p>
        <p class="">
          <input class="form-control" id="Load" value="Your code will be shown here." type="text" >
        </p>
    </header>
    <hr>
    <!-- Title -->
    
    <!-- /.row -->
    <!-- Page Features -->
    <div class="row text-center">
        <div class="col-md-2 col-sm-6 hero-feature" >
            <div class="thumbnail" style="background: transparent; border:transparent">
                <img id="Creature" src="http://placehold.it/800x500" alt="" onclick="Creatures()" width="311px">
                <div class="caption">
                    <h3 style="color:#fff" >The Problem</h3>
                    <p style="color:#fff">

                        Thats the problem that always was around the region, but only now has become serious enough.
                        <br/>
                        Or some mysterious event that came out of nowhere.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 hero-feature">
            <div class="thumbnail" style="background: transparent; border:transparent">
                <img id="Land" src="http://placehold.it/800x500" alt=""  onclick="Lands()" width="311px">
                <div class="caption">
                    <h3 style="color:#fff">The Setting</h3>
                    <p style="color:#fff">Where it all happens.</p>

                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 hero-feature">
            <div class="thumbnail" style="background: transparent; border:transparent">
                <img id="Solution" src="http://placehold.it/800x500" alt=""  onclick="Solutions();" width="311px">
                <div class="caption">
                    <h3 style="color:#fff">The Solution</h3>
                    <p style="color:#fff">
                        This can be considered "taking the rabbit out of the hat" or half a Deus Ex Machina.
                        <br/>
                        The group could solve the problem themselves, but it wouldn't be as fun, right?
                    </p>

                </div>
            </div>
        </div>

        <div class="col-md-2 hero-feature">
            <div class="thumbnail" style="background: transparent; border:transparent">
                <img id="Helper" src="http://placehold.it/800x500" alt="Helper Card" onclick="Helpers();" width="311px">
                <div class="caption">
                    <h3 style="color:#fff">The Helper</h3>
                    <p style="color:#fff">Represents someone who wants the problem to be resolved / removed from the scene.</p>

                </div>
            </div>
        </div>


        <div class="col-md-2 col-sm-6 hero-feature">
            <div class="thumbnail" style="background: transparent; border:transparent">
                <img id="Antagonist" src="http://placehold.it/800x500" alt=""  onclick="Antagonists();" width="311px">
                <div class="caption">
                    <h3 style="color:#fff">The Antagonist</h3>
                    <p style="color:#fff">Represents someone who wants the problem to continue in the scene or make use of the problem.</p>

                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->


</div>
<!-- /.container -->
<!-- jQuery -->
<script src="../../Scripts/app.js"></script>
<script src="/Scripts/angular.js"></script>
<script src="/Scripts/angular-route.js"></script>
<script src="/Scripts/jquery-1.10.2.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/Scripts/bootstrap.js"></script>
</body>

</html>
